
@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
        url('../fonts/PlayfairDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/PlayfairDisplay-Bold.woff2') format('woff2'),
        url('../fonts/PlayfairDisplay-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/PlayfairDisplay-Italic.woff2') format('woff2'),
        url('../fonts/PlayfairDisplay-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/PlayfairDisplay-BoldItalic.woff2') format('woff2'),
        url('../fonts/PlayfairDisplay-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Bold-webfont.woff') format('woff'),
    font-weight: bold;
    font-style: normal;
}





* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
font-size: 0.9375rem;
font-family: 'Open Sans', sans-serif;
}

.container {
width:1024px;
height:768px;
margin:0 auto;
position:relative;
}

.main-content {
width:1024px;
height:616px;
position:relative;
background-color:#000;
overflow:hidden;
}

.main-content .fase {
width:1024px;
height:616px;
}

/** generals */

.hidden {
opacity:0;
}

.button {
cursor:pointer;
}

.button:hover {

}

.tornar {
z-index:99999;
width:200px;
position: absolute;
top: 10px;
left: 10px;
}

.text, .filet, .titol {
font-family: 'Playfair Display', serif;
font-weight: 400;
letter-spacing: -0.5px;
}

.titol {
color:#fff;
font-size:32px;
text-align:center;
}


/** animacions **/

.anim-left {
display:none;
}

.anim-right {
display:none;
}

.anim-top {
display:none;
}

.flipped {
transform:scaleX(-1);
}

/** sistema de textos **/

.text-frame {
position:absolute;
left:270px;
background-image:url(../images/bk_text.png);
background-repeat:no-repeat;
background-size:contain;
width:720px;
height:450px;
color:#000;
padding-top: 30px;
}

.text-frame.negre,
.text-frame.quad.negre {
background-image:url(../images/bk_text_negre_2.png);
background-repeat:no-repeat;
background-size:contain;
}

.paginacio {
position: absolute;
bottom: 26px;
left: 50%;
transform: translateX(-50%);
font-family: 'Playfair Display', serif;
}

.paginacio ul {
display: flex;
flex-direction: row;
}

.paginacio li {
border: 1px solid transparent;
width: 34px;
height: 34px;
text-align: center;
border-radius: 50%;
line-height: 27px;
margin: 0 2px;
color: #fff;
list-style-type: none;
font-size: 1.2rem;
}

.paginacio li.selected {
border-color: #fff;
}

.paginacio li:hover {
cursor: pointer;
background-color: rgba(255,255,255,0.2);
}


/** versió quadrada **/

.text-frame.quad {
position:absolute;
left:270px;
top:50px;
background-image:url(../images/bk_text.png);
background-repeat:no-repeat;
background-size:450px 450px;
width:450px;
height:470px;
color:#000;
}

.text-frame .icona {
position:relative;
text-align:center;
}

.text-frame .content {
color:#fff;
position: absolute;
top: 180px;
padding: 0 60px;
}

.text-frame p{
margin-bottom: 0.75em;
text-shadow: 0 0 3px #000;
line-height: 1.2;
}

.text-frame.negre .content {
color:#000;
}

.text-frame .titol {
position:absolute;
width:600px;
left:60px;
text-align:center;
}

.fase .text-frame .icona img {

margin-top:-12px;
}

/**
filets

*/

.filet {
color:#fff;
font-size:2rem;
background-image:url(../images/filet.png);
background-position:center bottom;
padding-bottom:30px;
background-repeat:no-repeat;
background-size:300px auto;
}

.filet.negre {
background-image:url(../images/filet_negre.png);
}

/** fases **/

.fase {
height:616px;
background-color:#000;
display:none;
}

/** fase 0 **/

.fase0,.fase1 {
background-image:url(../images/intro/Fondo.png);
background-size: cover;
background-position: center center;
}

.titol.gran {
font-size:2.4rem;
width:400px;
}

.titol.blanc {
color:#fff;
}

.titol.negre {
color:#000;
}

/** fase 1 **/

.fase .melies {
position:absolute;
left:366px;
top:258px;
transform:scale(1.15);
}

.fase1 .titol {
position:absolute;
left:12px;
top:66px;
transform:scale(0.9);
}

.fase .globus img {
position:absolute;
left:106px;
top:180px;
width:160px;
}

.fase1 .globus .text {
position:absolute;
left:50px;
bottom: 100px;
}

.fase1 .barret img {
position:absolute;
left: 428px;
top: 19px;
width: 160px;
}

.fase1 .barret .text {
position:absolute;
left:380px;
top:191px;
}

.fase1 .retrat img {
position: absolute;
bottom: 180px;
width: 180px;
right: 80px;
}

.fase1 .retrat .text {
position:absolute;
right: 100px;
bottom:100px;
}

/** fase 2 globus */

.fase2 {
background-image:url(../images/bk_globus.jpg);
}

.llumeta {
position:absolute;
}

.llumeta1 {
left:100px;
top:560px;
}

.llumeta2 {
left:310px;
top:560px;
}

.llumeta3 {
left:700px;
top:540px;
}

.llumeta4 {
left:900px;
top:520px;
}

.fase .info {
position:absolute;
left:600px;
top:150px;
width:210px;
}

/** el caption que apareix sota les fotos */

.fase .info .caption {
color:#fff;
background-color:rgba(255,255,255,0.8);
padding:5px;
color:#000;
}

.fase2 .info {
left:40px;
}

/** fase 3 */

.fase3 .text-frame {
left:20px;
top: 30px;
}

.fase3 .info {
left:780px;
top:120px;
}

/*.fase3 .filet {
font-size: 3rem;
}*/

.fase3 .text-frame .content {
}

.fase3 {
background-image:url(../images/bk_biografia.jpg);
background-size: cover;
}

.fase3 .barra {
width: 674px;
height: 50px;
position:absolute;
bottom: 60px;
left: 40px;
color:#fff;
font-family: 'Playfair Display', serif;
font-weight: 700;
font-size: 1.0625rem;
}

.fase3 .retrat img {
position:absolute;
left:782px;
top:151px;
width:210px;
}

.fase3 .barra .start {
position: absolute;
bottom: 0;
left: 0;
color: #34ccff;
}

.fase3 .barra .end {
position: absolute;
bottom: 0;
right: 0;
color: #FEA80F;
}

.fase3 .barra ul {
display:flex;
flex-direction:row;
list-style-type:none;
}

.fase3 .barra ul li {
width:110px;
border-bottom:7px solid #34ccff;
margin:0 1px;
}

.fase3 .barra ul li:hover {
border-bottom:7px solid #fff;
}

.fase3 .barra ul li.vint {
border-bottom:7px solid #FEA80F;
}

.fase3 .barra ul li.vint:hover {
border-bottom:7px solid #fff;
}

.fase3 .barra ul li span {
position: relative;
left: -19px;
top: -5px;
}

.fase3 .barra ul li[data-num="1"] span {
left: 0;
}

.fase3 .barra ul li.res {
width: 0;
border-bottom-color:transparent;
position:relative;
}

.fase3 .barra ul li.res span {
left: -38px;
}

/** fase 4 teatre **/

.fase4 {
background-image:url(../images/teatre/bk_teatre.jpg);
background-repeat:no-repeat;
background-size:1024px 616px;
}

.fase4 .tornar {
z-index:1001;
left: 90px;
}

.fase4 .botons {
position:absolute;
top:10px;
right:90px;
z-index:1001;
}

.fase4 .botons img {
margin:0 6px;
vertical-align: middle;
}

.fase4 .text {
color:#fff;
width:800px;
margin:20px auto;
padding:120px;
z-index:3000;
position:absolute;
}

.fase4 .poste-left {
background-image:url(../images/teatre/poste_left.png);
background-repeat:no-repeat;
background-size: auto 616px;
height:616px;
width:100px;
z-index:1000;
position:absolute;
top:0;
left:0;
}

.fase4 .poste-right {
background-image:url(../images/teatre/poste_right.png);
background-repeat:no-repeat;
background-size: auto 616px;
background-position: right top;
height:616px;
width:100px;
z-index:1000;
position:absolute;
top:0;
right:0;
}

.fase4 .cortina-superior {
background-image:url(../images/teatre/cortina_superior.png);
background-repeat:no-repeat;
background-size:1024px 600px;
height:800px;
width:1024px;
position:absolute;
top:0;
z-index:15;
}

.fase4 .cortina-superior .escut {
position:absolute;
left:440px;
top:480px;
}

.fase4 .cortina-left {
background-image:url(../images/teatre/cortina.png);
background-repeat:no-repeat;
background-size:600px 600px;
position:absolute;
height:800px;
width:600px;
left:-380px;
top:0;
z-index:9;
}

.fase4 .cortina-right {
background-image:url(../images/teatre/cortina.png);
background-repeat:no-repeat;
background-size:600px 600px;
position:absolute;
height:800px;
width:600px;
top:0;
left:820px;
z-index:9;
}

/** trucs */

/** truc 1 */
.trucs {
}

.trucs .objecte {
position:absolute;
}

.fase4 .trucs .taula.left {
position:absolute;
left:300px;
top:460px;
transform:scale(1.1);
}

.fase4 .trucs .taula.right {
position:absolute;
left:660px;
top:460px;
transform:scale(1.1);
}

.fase4 .trucs .carpeta {
position:absolute;
left:450px;
top:460px;
transform:scale(1.1);
}

/** truc 2 */

.fase4 .truc2 .cos {
position:absolute;
left:300px;
top:360px;
transform:scale(1.1);
}

.fase4 .truc2 .cap {
position:absolute;
left:336px;
top:317px;
transform:scale(1.1);
}

.fase4 .truc2 .espasa {
position:absolute;
left:410px;
top:330px;
}

.fase4 .truc2 .armari {
position:absolute;
left:600px;
top:280px;
transform:scale(1.1);
}

/** truc 3 */

.fase4 .truc3 .proj {
position:absolute;
left:300px;
top:260px;
transform:scale(1.1);
}

.fase4 .truc3 .foto {
position:absolute;
left:290px;
top:260px;
transform:scale(1.1);
}

/** fase 5 estudi */

.fase5 {
background-image:url(../images/bk_estudi.jpg);
background-repeat:no-repeat;
background-size:1024px 616px;
}

.fase5 .cinematograf {
position:absolute;
left:140px;
top:400px;
transform:scale(1.1);
}

.fase5 .cofre {
position:absolute;
left:300px;
top:440px;
transform:scale(1.1);
}

.fase5 .plano {
position:absolute;
left:660px;
top:200px;
transform:scale(1.1);
}

.fase5 .dimoni {
position:absolute;
left:610px;
top:350px;
transform:scale(1.1);
}

/** fase 6 */

.fase6,.fase7,.fase8 {
background-image:url(../images/bk_cinematograf.jpg);
background-size:cover;
}

.fase6 .titol.main {
position:absolute;
left:50%;
top:50px;
transform: translateX(-50%);
width: auto;
}

.fase6 .titol.left {
position:absolute;
left:266px;
top:200px;
}

.fase6 .titol.right {
position:absolute;
left:610px;
top:420px;
}

.fase6 .cinematograf {
position:absolute;
left:80px;
top:170px;
transform:scale(1.1);
}

.fase6 .cinematograf_retol {
position:absolute;
left:600px;
top:180px;
transform:scale(1.1);
}

/** fase 7 */

.fase7 .text-frame {
color:#000;
left:510px;
top:90px;
}

.fase7 .text-frame .content,
.fase8 .text-frame {
color:#000;
}

.fase7 .text-frame p,
.fase8 .text-frame p {
text-shadow: none;
}

.transparent {
opacity:0;
}

.fase7 .text-frame .titol,
.fase8 .text-frame .titol {
position: static;
width: auto;
padding-top: 20px;
}

.fase7 .content,
.fase8 .content {
padding:30px 40px;
position: static;
}

.fase7 .aparell {
position:absolute;
left:70px;
top:185px;
transform:scale(1.2);
}

.fase7 .interior {
position:absolute;
left:60px;
top:164px;
transform:scale(1.2);
}

.fase7 .tapa {
position:absolute;
left:384px;
top:160px;
transform:scale(1.2);
}

.fase7 .obturador {
position:absolute;
left:349px;
top:269px;
transform:scale(1.2);
}

.fase7 .pelicula {
position:absolute;
left:374px;
top:182px;
transform:scale(1.2);
}

.fase7 .manivela {
position:absolute;
left:293px;
top:266px;
transform:scale(1.2);
}

/** fase 8 */


.fase8 .germans {
position:absolute;
left:560px;
top:140px;
transform:scale(1.2);
}

/** fase 9 pelis */

.fase9 .peli {
transform:scale(1.2);
position:absolute;
}

.fase9 .peli1 {
left:50px;
top:110px;
}

.fase9 .peli2 {
left:50px;
top:270px;
}

.fase9 .peli3 {
left:50px;
top:450px;
}

.fase9 .peli4 {
left:850px;
top:110px;
}

.fase9 .peli5 {
left:850px;
top:270px;
}

.fase9 .peli6 {
left:850px;
top:450px;
}

.fase9 .text-frame.quad {
left:200px;
top:100px;
width:600px;
background-size:600px 450px;
}

.fase9 iframe {
position:absolute;
top:171px;
left:220px;
}

/* fase 10  montreuil */

.fase10 {
background-color:#cccc98;
}

.fase10 .titol {
position:absolute;
left:760px;
color:#000;
top: 40px;
font-size: 3rem;
}

.fase10 .casa {
position:absolute;
left:120px;
top:120px;
transform:scale(1.2);
}

.fase10 .text {
position:absolute;
left:20px;
top:450px;
background-image:url(../images/bk_text_llarg.png);
background-repeat:no-repeat;
background-size:contain;
width:960px;
height:150px;
}

.fase10 .text .content {
padding:15px;
margin:10px;
}

/** fase 11 menu trucatges */

.fase .trucatge-fons {
width:850px;
height:500px;
background-image:url(../images/marc_text.png);
background-repeat:no-repeat;
background-size:850px 500px;
position:absolute;
left:87px;
top:70px;
}

.fase .more-info {
position:absolute;
left:500px;
top:570px;
color:#fff;
z-index:9999;
}

.gran {
transform:scale(1.2);
}

.fase .text-info {
color:#fff;
text-align:center;
margin:50px 80px;
}

.fase11 .truc1 {
position:absolute;
left:120px;
top:300px;
text-align:center;
}

.fase11 .truc2 {
position:absolute;
left:200px;
top:450px;
}

.fase11 .truc3 {
position:absolute;
left:670px;
top:300px;
text-align:center;
}

.fase11 .truc4 {
position:absolute;
left:600px;
top:450px;
}

.fase11 .dimoni {
position:absolute;
left:375px;
top:260px;
transform:scale(0.7);
}

/** fase 12 **/

.fase12 .camara {
position:absolute;
left:180px;
top:300px;
transform:scale(0.7) scaleX(-1);
}

.fase12 .cadira {
position:absolute;
left:658px;
top:371px;
}

.fase12 .senyora {
position:absolute;
left:650px;
top:290px;
transform:scale(1.8);
}

.fase12 .pantalla {
position:absolute;
left:390px;
top:330px;
transform:scale(1.8);
}

/** fase 13 **/

.fase13 .arc {
position:absolute;
left:130px;
top:140px;
transform:scale(0.35);
}

.fase13 .rampa {
position:absolute;
left:158px;
top:371px;
transform:scale(0.65);
}

.fase13 .camara {
position:absolute;
left:758px;
top:201px;
transform:scale(0.7);
}

.fase13 .carret {
position:absolute;
left:288px;
top:329px;
transform:scale(1.3);
}

.fase13 .pantalla {
position:absolute;
left:212px;
top:209px;
transform:scale(0.7);
}

/** fase 14 */

.fase14 .camara {
position:absolute;
left:738px;
top:221px;
transform:scale(0.8);
}

.fase14 .escenari {
position:absolute;
left:160px;
top:211px;
transform:scale(0.8);
}

.fase14 .senyor1 {
position:absolute;
left:358px;
top:301px;
transform:scale(0.8);
}

.fase14 .senyor2 {
position:absolute;
left:188px;
top:296px;
transform:scale(0.8);
}

.fase14 .resultat {
position:absolute;
left:278px;
top:216px;
transform:scale(1.0);
}

/** fase 15 */

.fase15 .diapo {
text-align:center;
transform:scale(1.3);
margin-top:120px;
}

.fase15 .left {
position:absolute;
left:179px;
top:350px;
}

.fase15 .right {
position:absolute;
left:804px;
top:350px;
}

.fase15 .caption {
text-align:center;
position:absolute;
width:700px;
left:200px;
top:520px;
color:#fff;
}

/** fase 16 credits */

.fase16 .credits {
margin:50px auto;
width:800px;
}

.fase0 .link-credits {
color:#fff;
position:absolute;
bottom:12px;
right:12px;
}

/* heretat */

img {
max-width:100%;
height:auto;
}

.clearfix {
overflow:hidden;
*zoom:1;
}

.clearfix:before,.clearfix:after,.container:before,.container:after {
content:" ";
display:table;
}

.clearfix:after,.container:after {
clear:both;
}



.title {
color:#00acec;
font-weight:700;
font-size:18px;
}




.left-box {
float:left;
width:25%;
text-align:left;
}

.right-box {
float:right;
width:25%;
text-align:right;
}

.center-box {
float:left;
width:50%;
text-align:center;
}

#header {
height:60px;
border-bottom:1px dotted #969696;
}

#header .center-box {
line-height:60px;
}

#header img {
max-height:60px;
width:auto;
}

#footer {
height:40px;
border-top:1px dotted #969696;
}

#footer .center-box {
line-height:40px;
}

#footer img {
max-height:40px;
width:auto;
}
