

/*
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display');
*/

/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/open-sans-v15-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url('../fonts/open-sans-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v15-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-800 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/open-sans-v15-latin-800.eot'); /* IE9 Compat Modes */
  src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'),
       url('../fonts/open-sans-v15-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v15-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v15-latin-800.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v15-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v15-latin-800.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* playfair-display-regular - latin */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/playfair-display-v13-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Playfair Display Regular'), local('PlayfairDisplay-Regular'),
       url('../fonts/playfair-display-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/playfair-display-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/playfair-display-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/playfair-display-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/playfair-display-v13-latin-regular.svg#PlayfairDisplay') format('svg'); /* Legacy iOS */
}
/* istok-web-regular - latin */
@font-face {
  font-family: 'Istok Web';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/istok-web-v12-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Istok Web Regular'), local('IstokWeb-Regular'),
       url('../fonts/istok-web-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/istok-web-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/istok-web-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/istok-web-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/istok-web-v12-latin-regular.svg#IstokWeb') format('svg'); /* Legacy iOS */
}


* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
/*font-size: 0.875rem;*/
font-size: 0.925rem;
font-family: 'Istok Web', sans-serif;
}


#main.fullscreen__ {
position: absolute;
width: 1800px;
height: 500px;
top: 50%;
left: 50%;
margin-left: -50px; /* margin is -0.5 * dimension */
margin-top: 125px;
}


.container {
width:1024px;
height:768px;
margin:0 auto;
position:relative;
}

.main-content {
width:1024px;
height:616px;
position:relative;
background-color:#000;
overflow:hidden;
}

.main-content .fase {
width:1024px;
height:616px;
}


/*

.container.fullscreen {
  width:100%;
  height:66.67vh;
  overflow:hidden;

}

.container.fullscreen .main-content {
  width:100%;
  height:66.67vh;
position:relative;
background-color:#000;
overflow:hidden;
}

.container.fullscreen .main-content .fase {
  width:100%;
  height:66.67vh;
}*/

/** generals */

.hidden {
opacity:0;
/*display:none;*/
}

.invisible{
  display:none;
}

.button {
cursor:pointer;
/*
transform: scale(1);
transition: transform 0.4s;*/
}

.button.fs{
position:absolute;
bottom:-10px;
right:2px;
}
/*
.button:hover {
transform: scale(1.1);
transition: transform 0.4s;
}*/

#debug{
  position:absolute;
  left:100px;
  top:2px;
  margin:2px;
  width:200px;
  height:20px;
  background-color:rgba(255,255,0,0.8);
  color:#000;
  font-weight: 400;
}

.tornar {
z-index:99999;
width:200px;
position: absolute;
top: 10px;
left: 10px;
}

.text, .filet, .titol {
font-family: 'Playfair Display', serif;
font-weight: 400;
letter-spacing: -0.5px;
}

.titol {
color:#fff;
font-size:32px;
text-align:center;
}


/** animacions **/

.anim-left {
display:none;
}

.anim-right {
display:none;
}

.anim-top {
display:none;
}

.flipped {
transform:scaleX(-1);
}

/** sistema de textos **/

.text-frame {
position:relative;
left:270px;
background-image:url(../images/bk_text.png);
background-repeat:no-repeat;
background-size:720px 450px;
background-position: center 20px;
width:720px;
height:450px;
color:#000;
padding-top: 30px;
}

.text-frame.negre,.text-frame.quad.negre {
background-image:url(../images/bk_text_negre_2.png);
background-size:450px 430px;
background-repeat:no-repeat;
/*background-size:contain;*/

}

.text-frame .titol.single{
  font-size: 3rem;
}


/** versió quadrada **/

.text-frame.quad {
position:absolute;
left:270px;
top:50px;
background-image:url(../images/bk_text.png);
background-repeat:no-repeat;
/*background-size:450px 450px;*/
background-size:contain;
width:450px;
height:450px;
color:#000;
}

.text-frame .icona {
position:relative;
text-align:center;
}

.text-frame .content {
color:#fff;
position: absolute;
top: 180px;
padding: 0 60px;
font-family: 'Istok Web';
}

.fase7 .text-frame .content {
top: 150px;
padding: 0 48px;
}

.fase7 .rollos {
position:absolute;
left:284px;
top:321px;
}



.fase7 .paginacio li {
color: #000;
border-color: none;
}
.fase7 .paginacio li.selected {
color: #000;
border-color: #000;
}


.fase8 .paginacio li {
color: #000;
border-color: none;
}
.fase8 .paginacio li.selected {
color: #000;
border-color: #000;
}
.fase8  .paginacio li:hover {
cursor: pointer;
border-color: none;
}

.fase10 .text-frame .content {
top: 168px;
}


.fase7 .titol{
  margin-top: -20px;
}

.text-frame p {
margin-bottom: 0.75em;
line-height: 1.4;
}

.fase3 .text-frame p {
text-shadow: 0 0 3px #000;
}

.text-frame.negre .content {
color:#000;
}

.text-frame .titol {
position:absolute;
width:600px;
left:60px;
text-align:center;
}

.fase .text-frame .icona img {

margin-top:-12px;
}



.paginacio {
position: absolute;
bottom: 26px;
left: 50%;
transform: translateX(-50%);
font-family: 'Playfair Display', serif;
}

.fase2 .paginacio,
.fase3 .paginacio,
.fase10 .paginacio {
bottom: 0;
}

.fase10 .paginacio li {
color: #000;
background-color: #e5e5cc;
border-color: #ADAD9A;
}


.fase10 .paginacio li.selected {
border-color: #000;
}

.fase10 .paginacio li:hover {
background-color: #e5e5cc;
border-color: #000;
}

.paginacio ul {
display: flex;
flex-direction: row;
}

.paginacio li {
border: 1px solid transparent;
width: 34px;
height: 34px;
text-align: center;
border-radius: 50%;
line-height: 27px;
margin: 0 2px;
color: #fff;
list-style-type: none;
font-size: 1.2rem;
}

.paginacio li.selected {
border-color: #fff;
}

.paginacio li:hover {
cursor: pointer;
background-color: rgba(255,255,255,0.2);
border-color: #fff;
}




.fase .more-info {
position:absolute;
left:484px;
top:566px;
color:#fff;
z-index:9999;
width: 30px;
height: 30px;
background: url(../images/botons/boto_info.png) no-repeat center center;
background-size: contain;
display: block;
text-indent: -9999em;
}

.gran {
transform:scale(1.2);
}

.fase .text-info {
position:absolute;
color:#fff;
/*text-align:center;*/
margin:62px 18px;
padding:50px;
background-color: rgba(0,0,0,0.9);
height:400px;
line-height: 1.4;
font-size: 1.2em;
z-index:0;
}

.more-info.button{
z-index:7778;
}


/** imatge que acompanya el text */

.fase .info {
position:absolute;
left:600px;
top:98px;
width:210px;
}

/** el caption que apareix sota les fotos */

.fase .info .caption {
color:#fff;
/*background-color:rgba(255,255,255,0.8);*/
padding:6px;
color:#000;
font-size: 0.8em;
padding:8px;
}


/**
filets

*/

.caption{
background-image:url(../images/bk_caption.png);
background-repeat:no-repeat;
background-size:210px 40px;
}



.filet {
color:#fff;
font-size:2rem;
background-image:url(../images/filet.png);
background-position:center bottom;
padding-bottom:30px;
background-repeat:no-repeat;
background-size:300px auto;
}

.filet.negre {
background-image:url(../images/filet_negre.png);
}

/** fases **/

.fase {
height:616px;
background-color:#000;
display:none;
}

/** fase 0 **/

.fase0 .loading{
position:absolute;
width:500px;
border:1px solid #ccc;
height:18px;
text-align: center;
margin: 250px 272px;
}

.fase0 .loading .barra{
width:0%;
background-color: rgba(255,255,255,0.5);

}

.fase0,.fase1 {
background-image:url(../images/intro/Fondo.png);
background-size: cover;
background-position: center center;
}

.titol.gran {
font-size:2.4rem;
width:400px;
}

.titol.blanc {
color:#fff;
}

.titol.negre {
color:#000;
}

/** fase 1 **/

.fase .melies {
position:absolute;
left:356px;
top:258px;
}

.fase .terra{
position:absolute;
left:394px;
top:527px;
}

.fase1 .titol {
position:absolute;
left:12px;
top:66px;
transform:scale(0.9);
}

.fase .globus{
position:relative;
}

.fase .globus img {
position:absolute;
left:106px;
top:180px;
width:160px;
}

.fase1 .globus .text {
position:absolute;
left:50px;
top: 460px;
}


.fase .barret{
position:relative;
}


.fase1 .barret img {
position:absolute;
left:440px;
top:20px;
width: 170px;
}

.fase1 .barret .text {
position:absolute;
left:365px;
top:194px;
}


.fase .retrat{
/*position:relative; */
}


.fase1 .retrat img {
position: absolute;
width: 180px;

left:771px;
top:191px;
/*
bottom: 180px;
right: 80px;
*/
}

.fase1 .retrat .text {
position:absolute;
left: 800px;
top:460px;
}

/** fase 2 globus */

.fase2 {
background-image:url(../images/bk_globus.jpg);
}

.llumeta {
position:absolute;
}

.llumeta1 {
left:318px; /**-28*/
top:563px; /** -28 */
}

.llumeta2 {
left:592px;
top:514px;
}

.llumeta3 {
left:745px;
top:505px;
}

.llumeta4 {
left:958px;
top:485px;
}



.fase2 .info {
left:40px;
}

/** fase 3 */

.fase3 .text-frame {
left:20px;
top: 30px;
}

.fase3 .info {
left:780px;
top:120px;
}

/*.fase3 .filet {
font-size: 3rem;
}*/

.fase3 .text-frame .content {
  top: 200px;
}

.fase3 {
background-image:url(../images/bk_biografia.jpg);
background-size: cover;
}

.fase3 .barra {
width: 674px;
height: 50px;
position:absolute;
bottom: 60px;
left: 40px;
color:#fff;
font-family: 'Playfair Display', serif;
font-weight: 700;
font-size: 1.0625rem;
}

.fase3 .retrat img {
position:absolute;
left:782px;
top:151px;
width:210px;
}

.fase3 .barra .start {
position: absolute;
bottom: 0;
left: 0;
color: #34ccff;
}

.fase3 .barra .end {
position: absolute;
bottom: 0;
right: 0;
color: #FEA80F;
}

.fase3 .barra ul {
display:flex;
flex-direction:row;
list-style-type:none;
}

.fase3 .barra ul li {
width:110px;
border-bottom:7px solid #34ccff;
margin:0 1px;
}

.fase3 .barra ul li:hover {
border-bottom:7px solid #fff;
}

.fase3 .barra ul li.selected {
border-bottom:9px solid #34ccff;
margin:-1px 1px;
}

.fase3 .barra ul li.vint {
border-bottom:7px solid #FEA80F;
}

.fase3 .barra ul li.vint:hover {
border-bottom:7px solid #fff;
}

.fase3 .barra ul li.vint.selected {
border-bottom:9px solid #FEA80F;
margin:-1px 1px;
}

.fase3 .barra ul li span {
position: relative;
left: -19px;
top: -5px;
}

.fase3 .barra ul li[data-num="1"] span {
left: 0;
}

.fase3 .barra ul li.res {
width: 0;
border-bottom-color:transparent;
position:relative;
}

.fase3 .barra ul li.res span {
left: -38px;
}

/** fase 4 teatre **/

.fase4 {
background-image:url(../images/teatre/bk_teatre.jpg);
background-repeat:no-repeat;
background-size:1024px 616px;
}

.fase4 .tornar {
z-index:1001;
left: 90px;
top: 19px;
}

.fase4 .botons {
position:absolute;
top:10px;
right:90px;
z-index:1001;
}

.fase4 .botons img {
margin:0 6px;
vertical-align: middle;
}

.fase4 .reload {
position: relative;
top: 2px;
}

.fase4 .text {
color:#fff;
width:500px;
margin:140px 270px;

z-index:3000;
position:absolute;
top:50px;
font-size: 1.3em;
font-weight: 500;
line-height: 1.3;
text-align: justify;
}

.fase4 .text.filet{
  background-position: center bottom;
}

.fase4 .poste-left {
background-image:url(../images/teatre/poste_left.png);
background-repeat:no-repeat;
background-size:100px 800px;
height:800px;
width:100px;
z-index:1000;
position:relative;
top:-100px;
left:0;
}

.fase4 .poste-right {
background-image:url(../images/teatre/poste_right.png);
background-repeat:no-repeat;
background-size:100px 800px;
height:800px;
width:100px;
z-index:1000;
position:absolute;
top:-100px;
left:925px;
}

.fase4 .cortina-superior {
background-image:url(../images/teatre/cortina_superior.png);
background-repeat:no-repeat;
background-size:1024px 600px;
height:800px;
width:1024px;
position:absolute;
top:0;
z-index:15;
}

.fase4 .cortina-superior .escut {
position:absolute;
left:440px;
top:480px;
z-index:3002;
}

.fase4 .cortina-left {
background-image:url(../images/teatre/cortina.png);
background-repeat:no-repeat;
background-size:600px 600px;
position:absolute;
height:800px;
width:600px;
left:-380px;
top:-25px;
z-index:9;
}

.fase4 .cortina-right {
background-image:url(../images/teatre/cortina.png);
background-repeat:no-repeat;
background-size:600px 600px;
position:absolute;
height:800px;
width:600px;
top:-25px;
left:820px;
z-index:9;
}

/** trucs */

/** truc 1 */
.trucs {
}

.trucs .objecte {
position:absolute;
}

.fase4 .trucs .taula.left {
position:absolute;
left:300px;
top:460px;
transform:scale(1.1);
}

.fase4 .trucs .taula.right {
position:absolute;
left:660px;
top:460px;
transform:scale(1.1);
}

.fase4 .trucs .carpeta {
position:absolute;
left:450px;
top:460px;
transform:scale(1.1);
}

/** truc 2 */

.fase4 .truc2 .cos {
position:absolute;
left:300px;
top:360px;
transform:scale(1.1);
}

.fase4 .truc2 .cap {
position:absolute;
left:336px;
top:317px;
transform:scale(1.1);
}

.fase4 .truc2 .espasa {
position:absolute;
left:410px;
top:330px;
}

.fase4 .truc2 .armari {
position:absolute;
left:600px;
top:280px;
transform:scale(1.1);
}

/** truc 3 */

.fase4 .truc3 .proj {
position:absolute;
left:248px;
top:237px;
transform:scale(1.1);
}

.fase4 .truc3 .foto {
position:absolute;
left:241px;
top:237px;
transform:scale(1.1);
}

.fase4 .truc{
display:none;
}

/** fase 5 estudi */

.fase5 {
background-image:url(../images/bk_estudi_ok.png);
background-repeat:no-repeat;
background-size:1024px 616px;
}


.dimoni img{
width:190px;
}
.fase5 .tooltip{
/*background-color: rgba(255,255,255,0.7);*/
font-size: 0.9em;
font-family: 'Playfair Display';
color: #000;
padding:5px;
display:none;
width:140px;
height:24px;
}

.fase5 .tooltip{
background-image:url(../images/bk_caption.png);
background-repeat:no-repeat;
background-size:140px 24px;
text-align: center;
}


.fase5 .tooltip.cine{
position: absolute;
left:140px;
top:480px;
}
.fase5 .tooltip.cof{
position: absolute;
left:335px;
top:400px;
}
.fase5 .tooltip.dim{
position: absolute;
left:600px;
top:340px;
}
.fase5 .tooltip.pla{
position: absolute;
left:700px;
top:240px;
}

.fase5 .cinematograf {
position:absolute;
left:120px;
top:320px;
transform:scale(1.0);
}

.fase5 .cofre {
position:absolute;
left:300px;
top:430px;
transform:scale(1.1);
}

.fase5 .plano {
position:absolute;
left:620px;
top:200px;
transform:scale(1.1);
}

.fase5 .dimoni {
position:absolute;
left:568px;
top:350px;
}



/** fase 6 */

.fase6,.fase7,.fase8 {
background-image:url(../images/bk_cinematograf.jpg);
background-size:1024px 616px;
background-repeat: no-repeat;
}

.fase6 .filet {
width:280px;
text-align:center;
}

.fase6 .titol.main {
position:absolute;
left:330px;
top:50px;
}

.fase6 .titol.left {
position:absolute;
left:230px;
top:200px;
}

.fase6 .titol.right {
position:absolute;
left:610px;
top:420px;
}

.fase6 .cinematograf {
position:absolute;
left:80px;
top:170px;
transform:scale(1.1);
}

.fase6 .cinematograf_retol {
position:absolute;
left:600px;
top:180px;
transform:scale(1.1);
}

/** fase 7 */

.fase7 .text-frame.quad.negre {
color:#000;
left:480px;
top:90px;
}

.fase7 .text-frame .content {
color:#000;
}

.fase7 .titol {
position:absolute;
}

.transparent {
opacity:0;
}

.fase7 .titol {
left:-75px;
}

.fase7 .content {
/*padding:50px 0;*/
}

.fase7 .aparell {
position:absolute;
left:70px;
top:185px;
transform:scale(1.2);
}

.fase7 .interior {
position:absolute;
left:60px;
top:164px;
transform:scale(1.2);
}

.fase7 .tapa {
position:absolute;
left:384px;
top:160px;
transform:scale(1.2);
}

.fase7 .obturador {
position:absolute;
left:349px;
top:259px;
transform:scale(1.2);
}

.fase7 .pelicula {
position:absolute;
left:370px;
top:171px;
transform:scale(1.2);
}

.fase7 .manivela {
position:absolute;
left:293px;
top:266px;
transform:scale(1.2);
}

/** fase 8 */
.fase8 .text-frame {
color:#000;
left:40px;
top:90px;
}

/*
.fase8 .text-frame .content {
  top:164px;
}*/


.fase8 .titol {
left:-78px;
}

.fase8 .content {
/*padding:60px 0;*/
}

.fase8 .germans {
position:absolute;
left:560px;
top:140px;
transform:scale(1.2);
}

/** fase 9 pelis */

.fase9 .peli {
transform:scale(1.1);
position:absolute;
}

.fase9 .peli1 {
left:50px;
top:110px;
}

.fase9 .peli2 {
left:50px;
top:270px;
}

.fase9 .peli3 {
left:50px;
top:450px;
}

.fase9 .peli4 {
left:850px;
top:110px;
}

.fase9 .peli5 {
left:850px;
top:270px;
}

.fase9 .peli6 {
left:850px;
top:450px;
}

.fase9 .text-frame.quad {
left:180px;
top:40px;
width:650px;
height:550px;
background-size:650px 550px;
}

.fase9 .text-frame .content {
/*margin:140px 50px;*/
}

/* 14 42 */
.fase9 .text-frame .titol {
left:28px;
margin-top: -110px;
}

.fase9 .text-frame .titol.single {
font-size:3rem;
}

.fase9 iframe {
position:absolute;
top:155px;
left:231px;
}



.fase9 .peli-info {
  left: 304px;
    top: 512px;
    position: absolute;
color:#fff;
z-index:9999;
width: 30px;
height: 30px;
background: url(../images/botons/boto_info.png) no-repeat center center;
background-size: contain;
display: block;
text-indent: -9999em;
}

/*
.fase9 .more-info{

  left: 304px;
    top: 512px;
    position: absolute;
    z-index:9999;
}*/

/* fase 10  montreuil */


.fase10 {
background-color:#cccc98;
}

.fase10 .titol.anim-right {
position:absolute;
left:760px;
color:#000;
top: 40px;
font-size: 3rem;
}

.fase10 .casa {
position:absolute;
left:120px;
top:120px;
transform:scale(1.2);
}

.fase10 .text-frame.negre {
position:absolute;
left:87px;
top:430px;
background-image:url(../images/bk_text_llarg.png);
background-position: center center;
background-repeat:no-repeat;
background-size:contain;
width:850px;
height:170px;
}

.fase10 .text-frame .content {
padding:15px;
margin:-148px 33px;
}

.fase10 .text-frame h2 {
    font-weight:normal;
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 400;
}
/*
.fase10 {
background-color:#cdcb9a;
}


.fase10 .paginacio li{
color:#000;
}
.fase10  .paginacio li.selected {
border-color: #000;
}

.fase10 .text-frame.quad {
position:absolute;
left:64px;
top:424px;
background-image:url(../images/bk_text_negre_2.png);
background-repeat:no-repeat;
background-size:700px 160px;
width:700px;
height:190px;
color:#000;
}

.fase10 .text-frame.quad .content{
margin: -137px 32px;
height:150px;

}

.fase10 .titol {
position:absolute;
left:760px;
top:100px;
color:#000;
}

.fase10 .casa {
position:absolute;
left:120px;
top:120px;
transform:scale(1.2);
}

.fase10 .text {
position:absolute;
left:20px;
top:450px;
background-image:url(../images/bk_text_llarg.png);
background-repeat:no-repeat;
background-size:720px 150px;
width:720px;
height:150px;
}

.fase10 .text .content {
padding:15px;
margin:10px;
}
*/
/** fase 11 menu trucatges */

.fase .trucatge-fons {
width:850px;
height:500px;
background-image:url(../images/marc_text.png);
background-repeat:no-repeat;
background-size:850px 500px;
position:absolute;
left:75px;
top:100px;
}


.fase11 .titol {
margin:20px 0 0 -38px;
}

.fase11 .text-info {
margin:0 0 0 ;
background-color: transparent;
}


.fase11 .truc1 {
position:absolute;
left:120px;
top:300px;
text-align:center;
}

.fase11 .truc2 {
position:absolute;
left:200px;
top:450px;
}

.fase11 .truc3 {
position:absolute;
left:670px;
top:300px;
text-align:center;
}

.fase11 .truc4 {
position:absolute;
left:600px;
top:450px;
}

.fase11 .dimoni {
width:220px;
position:absolute;
left:411px;
top:277px;

}

/** fase 12 **/


.fase12 .titol {
margin:20px 0 0 -38px;
}


.fase12 .camara img{
width:70px;
}

.fase12 .camara {
position:absolute;
left:180px;
top:300px;

}

.fase12 .cadira {
position:absolute;
left:658px;
top:371px;
}

.fase12 .senyora {
position:absolute;
left:632px;
top:280px;
/*transform:scale(1.0);*/
}

.fase12 .pantalla img{

width:500px;
}

.fase12 .pantalla {
position:absolute;
left:250px;
top:200px;

}

/** fase 13 **/

.fase13 .titol {
margin:20px 0 0 -38px;
}
.fase13 .arc {
position:absolute;
left:150px;
top:260px;

}

.fase13 .arc img{
width:50px;
}

.fase13 .rampa {
position:absolute;
left:158px;
top:371px;
transform:scale(0.65);
}

.fase13 .camara {
position:absolute;
left:758px;
top:201px;
transform:scale(0.7);
}

.fase13 .carret {
position:absolute;
left:288px;
top:329px;
transform:scale(1.3);
}

.fase13 .pantalla {
position:relative;
left:149px;
top:117px;
transform:scale(0.7);
}

.fase13 .cap {
position:absolute;
left:436px;
top:375px;
transform:scale(0.7);
}

.text-info ul{
  list-style-position: inside;
}

/** fase 14  sobreimpressio*/

.fase14 .titol {
margin:20px 0 0 -38px;
}


.fase14 .camara {
position:absolute;
left:738px;
top:221px;
transform:scale(0.8);
}

.fase14 .escenari {
position:absolute;
left:160px;
top:211px;
transform:scale(0.8);
}

.fase14 .senyor1 {
position:absolute;
left:358px;
top:301px;
transform:scale(0.8);
}

.fase14 .senyor2 {
position:absolute;
left:188px;
top:296px;
transform:scale(0.8);
}

.fase14 .resultat {
position:absolute;
left:278px;
top:216px;
transform:scale(1.0);
}

/** fase 15 */


.fase15 .titol {
margin:60px 0 0 -38px;
}

.fase15 .diapo {
text-align:center;
transform:scale(1.3);
margin-top:112px;

}

.fase15 .left {
position:absolute;
left:179px;
top:350px;
}

.fase15 .right {
position:absolute;
left:804px;
top:350px;
}

.fase15 .caption {
text-align:center;
margin: 50px auto;
width:700px;
color:#fff;
background-image: none;
}

/** fase 16 credits */

.fase16 .credits {
margin:50px auto;
width:800px;
}

.fase .link-credits {
color:#fff;
position:absolute;
bottom:12px;
right:65px;
}

.fase16 .credits img{
position:absolute;
left:50px;
top:50px;
}


/* heretat */

img {
max-width:100%;
height:auto;
}

.clearfix {
overflow:hidden;
*zoom:1;
}

.clearfix:before,.clearfix:after,.container:before,.container:after {
content:" ";
display:table;
}

.clearfix:after,.container:after {
clear:both;
}



.title {
color:#00acec;
font-weight:700;
font-size:18px;
}




.left-box {
float:left;
width:25%;
text-align:left;
}


.right-box {
float:right;
width:25%;
text-align:right;
}

.right-box.down {

width:100%;

}

.right-box.down img{
position: absolute;
left:460px;
}

.center-box {
float:left;
width:50%;
text-align:center;
}

#header {
height:60px;
border-bottom:1px dotted #969696;
}

#header .center-box {
line-height:60px;
}

#header img {
max-height:60px;
width:auto;
}

#footer {
height:40px;
border-top:1px dotted #969696;
}

#footer .center-box {
line-height:40px;
}

#footer img {
max-height:40px;
width:auto;
}
